// Full View Mode
.l-node-page--full {
  @include grid-row($behavior:nest);
  &__child-node-list,
  &__content,
  &__form,
  &__price,
  &__slideshow,
  &__title { @include grid-column(12); }
  &__images {
    width: 100%;
    margin-bottom: 15px;
    @media #{$medium-up} {
      float: right;
      width: 320px;
      margin-left: 15px;
    }
  }
  &__videos {
    width: 100%;
    @media #{$medium-up} {
      float: right;
      clear: right;
      width: 320px;
      margin-left: 15px;
    }
  }
}

// Teaser View Mode
.l-node-page--teaser {
  @include grid-row($behavior:nest);
  &__content {
    @include grid-column(12);
    @media #{$large-up} { @include grid-column(8); }
  }
  &__content--without-image,
  &__price,
  &__title { @include grid-column(12); }
  &__images {
    @include grid-column(12);
    @media #{$large-up} { @include grid-column(4); }
  }
}

// Contact Veiw Mode
.l-node-page--contact-page {
  &__branches {
    background-color: #f5f5f5;
    border: {
      color: #e0e0e0;
      style: solid;
      width: 1px;
    }
    padding: 10px;
    margin: {
      top: 20px;
      bottom: 20px;
    }
    @media #{$medium-up} {
      margin: {
        top: 40px;
        bottom: 40px;
      }
      padding: 40px;
    }
    @include clearfix;
  }
}
