// Call to Actions (New Vehicles) View
.view-call-to-actions-new-vehicles {
  -webkit-box-shadow: 0 10px 10px -10px #000;
  -moz-box-shadow: 0 10px 10px -10px #000;
  box-shadow: 0 10px 10px -10px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  &__list {
    @include block-grid(1);
    background-color: $secondary-color;
    padding: {
      top: 15px;
      right: 10px;
      bottom: 0;
      left: 10px;
    }
    margin: 0;

    li {
      padding: {
        top: 0;
        right: 5px;
        bottom: 5px;
        left: 5px;
      }
    }
  }
}
