// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_init.scss" file. You may not need to write any code.

// Headings
// - - - - - - - - - - - - - - - - - - - - - - - - -

h1.page__title--location {
  color: #ffffff;
  font-size: $crumb-font-size;
  margin-bottom: 0;
  text-align: right;
}
.field-name-title h2 { font-size: $h1-font-size; }

#page-title {
  background: $secondary-color;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  -webkit-box-shadow: 0 10px 10px -10px #000;
  -moz-box-shadow: 0 10px 10px -10px #000;
  box-shadow: 0 10px 10px -10px #000;
  padding: {
    top: 20px;
    bottom: 20px;
  }
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  z-index: 1;
  @media #{$medium-up} {
    padding: {
      top: 30px;
      bottom: 30px;
    }
    margin-bottom: 80px;
  }
  h2 {
    color: #ffffff;
  }
  &.page__title--vehicle-type {
    padding-bottom: 0;
  }
}


// Reset some elements so they behaviour
// - - - - - - - - - - - - - - - - - - - - - - - - -

.alert-box {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select {
  background-image: url(../images/select-arrow.png);
  background-position: 100% center;
  background-repeat: no-repeat;
  &::-ms-expand {
    display: none;
  }
}

// Hide grippie bar for textareas
.grippie {
  display: none;
}


// Tables
// ** Only apply styling when a table element
// ** is inside a page body
// - - - - - - - - - - - - - - - - - - - - - - - - -
.field-name-body table {
  margin-bottom: 10px;
  width: 100%;
  tbody {
    border: none;
  }
  tr td {
    border: {
      style: solid;
      width: 1px;
    }
    padding: {
      top: 5px;
      right: 10px;
      bottom: 5px;
      left: 10px;
    }
  }
}


// Elements
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Visit Shop Link see ** page.tpl
.visit-shop {
  &__button {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
    @media #{$large-up} {
      margin-top: 30px;
    }
    &:hover {
      color: #2b2b2b;

      aside {
        background-image: url(../images/basket-hover.png);
      }
    }
  }

  &__icon {
    background-image: url(../images/basket.png);
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 19px;
    margin-right: 10px;
    width: 22px;
  }
}

@media #{$large-up} {
  .logo {
    margin-top: 15px;
  }
}


// Search Results Exposed Views Filter "Apply" button
.views-exposed-form .views-exposed-widget {
  float: none;
  margin-bottom: 20px;
  padding: 0;
  @media #{$medium-up} {
    float: left;
    margin-bottom: 0;
    padding: .5em 1em 0 0;
  }
  .form-submit {
    margin-top: 0;
    width: 100%;
    @media #{$medium-up} {
      margin-top: 20px;
      width: auto;
    }
  }
}
